---
import MainTitle from "./MainTitle.astro";

const TeamMember = [
    {
        name: "Cesar Holguín",
        role: "Lic. en Derecho y Político Mexicano",
        description:
            "Mi rol es la de llevar todos y cada uno de los casos siempre orientandolos a perspectivas de derechos humanos y buscando que la justicia sea más cercana al pueblo de México a través de mi trabajo. Cofundador de Academia Delfos, think tank incubadora de ideas.",
        image: "./cesar.webp",
    },
    {
        name: "Karla Montez",
        role: "Practicante",
        description:
            "Mi función es la de llevar los roles administrativos, control de audiencias y revisión de casos para corroborar el debido proceso por cada caso, soy la vigia y un sello de garantía de excelencia.",
        image: "./karla.webp",
    },
    {
        name: "Jared García",
        role: "Ing. Análista de datos",
        description:
            "¡Hola! me encargo de apoyar a nuestro equipo con el procesamiento y diseño de algoritmos para la toma de decisiones acertadas con base a datos. Otra de mis responsabilidades es la creación de interfaces web y posicionamiento de Juriscorp, siendo líder del equipo de trabajo de IT.",
        image: "./jared garcia.webp",
    },
    {
        name: "Danielle Suárez",
        role: "Diseñador",
        description:
            "Mi función en Juriscorp es la del diseño gráfico especializado a redes sociales, soy el responsable de la identidad visual del despacho y estrategias elementales de comunicación tanto verbal como visual.",
        image: "./user.png",
    },
];
---

<MainTitle title="Nuestro equipo" />
<section>
    <div class="container">
        {
            TeamMember.map((member) => (
                <div class="card">
                    <img src={member.image} alt={member.name} />
                    <h2>{member.name}</h2>
                    <p>{member.role}</p>
                    <p>{member.description}</p>
                </div>
            ))
        }
    </div>
</section>
<style>
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    img {
        vertical-align: middle;
        width: 85%;
        height: 70%;
        border-radius: 50%;
    }
    h2 {
        font-size: 1.9rem;
        font-weight: 700;
        margin: 0;
    }
    h2::first-letter {
        color: #f99e2e;
        font-size: 2.5rem;
    }
    p {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        font-family: "Corbel", sans-serif;
    }
</style>
